html {
  font-family: "Lato", sans-serif;
  color: #001122;
  height: 100%;
}

body {
  margin: 0;
  padding-bottom: 16px;
}

header {
  padding-left: 30px;
  border-bottom: 1px solid RGB(238, 238, 238);
}
